
/******************************
Geheral Styles
******************************/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #113a52;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 2.5%;
  }

  header {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 58, 82, 0.9)), to(rgba(17, 58, 82, 0.5))), url(../images/bg.png);
      background-image: -o-linear-gradient(rgba(17, 58, 82, 0.9), rgba(17, 58, 82, 0.5)), url(../images/bg.png);
      background-image: linear-gradient(rgba(17, 58, 82, 0.9), rgba(17, 58, 82, 0.5)), url(../images/bg.png);
      height: 85vh;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
  }

  h1 {
      margin: 0;
  }

  h2:after {
      display: block;
      height: 2px;
      background-color: #e74c3c;
      content: "";
      width: 350px;
      margin: 0 auto;
      margin-top: 20px;
  }

  section {
    display: inline-block;
    background-color: #eff3f4;
    padding: 70px 0 0 0;
    width: 100%;
}

.float-clearing {
    zoom: 1;
}

.float-clearing:after {
    zoom: 1;
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/******************************
Header Styles
******************************/



  #logo-img {
      height: 45px;
      width: auto;
      float: left;
      margin-left: 40px;
      margin-top: 7px;

  }

  #logo-text {
      float: left;
      padding: 15px 0;
  }

  #sticky-nav {
    padding: 0;
    background-color: darkorange;
 
  }

  #logo-text a {
    text-decoration: none;
    text-transform: uppercase;
    color: #113a52;
    font-size: 1.2em;
    letter-spacing: 0.179487em;
    margin-left: 15px;
  }


  .header-text {
    padding: 0 20px;
    text-align: center;
    color:rgb(239, 243, 244);

  }

  #header-title {
      text-transform: uppercase;
      letter-spacing: 0.179487em;
      font-weight: 600;
      padding-top: 200px;
      padding-bottom: 30px;
  }

  #header-headline {
    font-weight: 300;
}

.button-contact-us:link,
.button-contact-us:visited {
    margin-top: 60px;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #e74c3c;
    color: #eff3f4;
    border: 1px solid #e74c3c;
    border-radius: 15px;
    font-weight: 300;
    -webkit-transition: background-color 0.3s, border 0.3s;
    -o-transition: background-color 0.3s, border 0.3s;
    transition: background-color 0.3s, border 0.3s;
    font-size: 22px;
}

.button-contact-us:hover,
.button-contact-us:active {
    background: #eff3f4;
    color: #e74c3c;
    font-weight: 300;
    border: 1px solid #e74c3c;   
    font-size: 22px;
}



/******************************
Navigation Styles
******************************/

  nav {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.7)));
    background: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
    height: 60px;

}

  #main-nav {
      float: right;
      list-style: none;
      padding: 15px 0;
  }

  #main-nav li {
      display: inline-block;
      margin-right: 30px;
  }

  #main-nav li a:link,
  #main-nav li a:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: #113a52;
      font-size: 0.7em;
      font-weight: 550;
      padding: 5px;
  }

  #main-nav li a:hover,
  #main-nav li a:active {
    color: #e74c3c;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    padding: 5px;
}

/******************************
Section What We Do
******************************/


.section-headtext {
    text-transform: uppercase;
    letter-spacing: 0.179487em;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.section-icons {
    max-height: 80px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

section p {
    margin-top: 20px;
    font-size: 18px;
}

section h4 {
    text-align: center;
    color: #e74c3c;
}


/******************************
Service Images Styles
******************************/

.images-container {
    list-style: none;
    width: 100%;
}

.images-container li {
    display: block;
    float: left;
    width: 25%;
}

.service-image {
    width: 100%;
    overflow: hidden;
    background: #113a52;
}

.service-image img {
    width:100%;
    height: auto;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    opacity: 0.7;
}

.service-image img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

/******************************
Contact Us Styles
******************************/



#phone-image-container {
    margin-left: 18%;
    margin-right: 7%;
    text-align: center;
}

.contact-step {
    margin-top: 20px;
}

.contact-step div {
    color: #eff3f4;
    background: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    font-size: 1.8em;
    text-align: center;
    float: left;
    margin-right: 20px;

}

.contact-step p {
    font-size: 18px;
}


/******************************
Feedback Section Styles
******************************/

#feedback-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 58, 82, 0.9)), to(rgba(17, 58, 82, 0.5))), url(../images/feedback-background.png);
    background-image: -o-linear-gradient(rgba(17, 58, 82, 0.9), rgba(17, 58, 82, 0.5)), url(../images/feedback-background.png);
    background-image: linear-gradient(rgba(17, 58, 82, 0.9), rgba(17, 58, 82, 0.5)), url(../images/feedback-background.png);
    background-position: center;
    background-size: cover;
    color: #eff3f4;
    background-attachment: fixed;
}

blockquote {
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    display: inline-block;
    text-align: center;
}

cite {
    display: block;
}

cite img {
    width: 200px;
    border: 2px solid #e74c3c;
    border-radius: 50%;
    margin-bottom: 20px;
}


/******************************
Contuct Us Styles
******************************/

#contact-form {
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
}

input[type=text],
select,
textarea {
    width: 100%;
    height: 30px;
    border: 1px solid #e7a29a;
    border-radius: 7px;
    padding: 5px;
    font-size: 90%;
}

textarea {
    height: 100px;
}

.button-send-contact:link,
.button-send-contact:visited {

    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #e74c3c;
    color: #eff3f4;
    border: 1px solid #e74c3c;
    border-radius: 15px;
    font-weight: 300;
    -webkit-transition: background-color 0.3s, border 0.3s;
    -o-transition: background-color 0.3s, border 0.3s;
    transition: background-color 0.3s, border 0.3s;
}


.button-send-contact:active,
.button-send-contact:hover {
    background: #eff3f4;
    color: #e74c3c;
    font-weight: 300;
    border: 1px solid #e74c3c;   
}


/******************************
Footer Us Styles
******************************/

footer {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 58, 82, 0.9)), to(rgba(17, 58, 82, 0.5))), url(../images/footer.png);
    background-image: -o-linear-gradient(rgba(17, 58, 82, 0.9), rgba(17, 58, 82, 0.5)), url(../images/footer.png);
    background-image: linear-gradient(rgba(17, 58, 82, 0.9), rgba(17, 58, 82, 0.5)), url(../images/footer.png);
    background-position: center;
    background-size: cover;
    color: #eff3f4;
    background-attachment: fixed;
}

#footer-nav {
    margin-bottom: 20px;
}

#footer-nav li a:link,
#footer-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #eff3f4;;
    font-size: 0.7em;
    font-weight: 550;
    padding: 5px;
}

#footer-nav li a:hover,
#footer-nav li a:active {
    color: #e74c3c;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    padding: 5px;
}

.social-icons {
    width: 20px;

}

#social-links {
    list-style: none;
    margin-left: 30px;
    margin-bottom: 30px;
}

#social-links li {
    display: inline-block;
    margin-right: 30px;
}

#text {
    font-size: 60%;
}

/******************************
Media Query Styles
******************************/

@media only screen and (max-width: 1040px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  
    section {
        padding: 30px 0 0 0;
    }

    .section-icons {
        max-height: 60px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    


}








